.modalCreateEvent {
	width: 700px;
}
.modalCreateEvent-uloadInput-field {
	padding-right: 20px;
}

.modalCreateEvent-uloadInput-field .uploadInput-imgContainer {
	display: block;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	width: 100%;
	padding-bottom: 50%;
	margin-bottom: 10px;
}

.modalCreateEvent-uloadInput-field img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.modalCreateEvent-uloadInput-field label {
	display: block;
	text-align: center;
	color: #2EB872;
	font-weight: bold;
}