.card {
	box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
	width: 100%;
	background: #FFF;
	border-radius: 8px;
	overflow: hidden;
	cursor: default;
}
.card-imageContainer {
	position: relative;
	padding-bottom: 50%;
}
.card-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.card-body {
	padding: 10px 20px;
}
.card-title {
	display: block;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
}
.card-details {
	display: flex;
	justify-content: space-between;
}
.card-author,
.card-date {
	font-size: 12px;
	font-weight: bold;
}