.filterTabs {
	display: flex;
	justify-content: space-between;
}
.filterTabs-tab {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #2EB872;
	padding: 6px 20px;
	border-radius: 20px;
	margin-right: 15px;
	cursor: pointer;
}
.filterTabs-tab.-button {
	background-color: rgb(183, 183, 183, .42);
	color: #000;
}
.filterTabs-tab.is-active {
	background-color: rgba(46, 184, 114, .25);
}