.modalAddBooths {
	width: 700px;
}
.modalAddBooths-header {
	display: flex;
	height: 200px;
	position: relative;
}
.modalAddBooths-header-info {
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.modalAddBooths-header-title {
	font-size: 24px;
	font-weight: bold;
}
.modalAddBooths-header-imageContainer {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 200px;
	border-radius: 8px;
}
.modalAddBooths-header-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	object-fit: cover;
}
.modalAddBooths-header-dates {
	display: flex;
	justify-content: space-between;
}

.modalAddBooths-header-date {
	font-weight: bold;
}
.modalAddBooths-body {
	padding: 30px;
}
.modalAddBooths-booth {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modalAddBooths-booth-name,
.modalAddBooths-booth-info {
	font-size: 25px;
	font-weight: bold;
	color: #5AB275;
}
.modalAddBooths-booth-input {
	width: 80px;
}
.modalAddBooths-booth-button,
.modalAddBooths-booth-name,
.modalAddBooths-booth-info {
	padding-top: 12px;
}