.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFF;
	padding: 30px;
	border-radius: 8px;
	z-index: 100;
}
.modal.is-open {
	display: block;
}
.modal-title {
	color: #2EB872;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}