.modalViewEvent {
	width: 550px;
}
.modalViewEvent-info {
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.modalViewEvent-title {
	font-size: 24px;
	font-weight: bold;
}
.modalViewEvent-imageContainer {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-bottom: 50%;
	border-radius: 8px;
}
.modalViewEvent-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}