.button {
	flex: 1 1;
	font-weight: bold;
	font-size: 16px;
	border: solid 1px;
	border-radius: 8px;
	padding: 8px;
	text-transform: uppercase;
}
.button.-primary {
	background-color: #2EB872;
	color: #FFF;
	border-color: transparent;
}
.button.-secondary {
	background-color: #FFF;
	color: #2EB872;
	border-color: #2EB872;
}
.button-field {
	display: flex;
}