.dropdown-field {
	display: flex;
	position: relative;
	flex-direction: column;
	padding-top: 16px;
}
.dropdown-field.is-selected {
	color: #2EB872;
}
.dropdown-field.is-selected .dropdown-input {
	border-color: #2EB872;
	color: #2EB872;
}
.dropdown-field.is-selected .dropdown-label {
	border-color: #2EB872;
	color: #2EB872;
	transform: translateY(-200%);
}
.dropdown-field.is-menuOpen .dropdown-input {
	color: #2EB872;
}
.dropdown-field.is-menuOpen .dropdown-label {
	color: #2EB872;
	transform: translateY(-200%);
}

.dropdown-label {
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	color: #2EB872;
	margin-right: 2px;
	transition: transform .2s;
}
.dropdown-input {
	padding: 10px;
	font-size: 14px;
	line-height: 1.2;
	border: solid 1px;
	border-color: #707070;
	color: #707070;
	background-color: #FFF;
	border-radius: 8px;
	z-index: 2;
	transition: border-color .2s;
	z-index: 15;
	cursor: pointer;
}
.dropdown-menu {
	position: absolute;
	top: 40px;
	z-index: 10;
	color: #FFF;
	background-color: #2EB872;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
	padding-top: 20px;
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
}
.dropdown-menu-option {
	padding: 10px;
	transition: background-color .1s;
}
.dropdown-menu-option:hover {
	background-color: #FFF;
	color: #2EB872;
	cursor: pointer;
}