.header {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;
}
.header-logo {
	display: block;
	width: 182px;
	height: 60px;
	background-image: url("../../img/logo.png");
}
.header-menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 0;
	top: 70px;
	padding: 10px 0;
	background-color: rgba(0, 0, 0, .40);
	font-size: 20px;
	font-weight: bold;
	border-radius: 8px;
	backdrop-filter: blur(30px);
	z-index: 20;
}
.header-menu-item {
	padding: 10px 30px;
	cursor: pointer;
	transition: background-color .1s;
}
.header-menu-item:hover {
	background-color: rgba(0, 0, 0, .70);
	color: #FFF;
}