.input {
	padding: 10px;
	font-size: 14px;
	line-height: 1.2;
	border: solid 1px;
	border-color: #707070;
	border-radius: 8px;
	z-index: 2;
	transition: border-color .2s;
}
.input::placeholder {
	color: #707070;
	font-family: 'Montserrat', sans-serif;
}
.input:focus,
.input:not(:placeholder-shown) {
	border-color: #2EB872;
}
.input:focus::placeholder {
	color: transparent;
}
.input-label {
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	color: #2EB872;
	margin-right: 2px;
	transition: transform .2s;
}
.input:focus ~ .input-label {
	transform: translateY(-200%);
}
.input:not(:placeholder-shown) ~ .input-label {
	transform: translateY(-200%);
}
.input-field {
	display: flex;
	position: relative;
	flex-direction: column;
	padding-top: 16px;
}