.event {
	display: flex;
	padding: 10px;
	cursor: pointer;
}
.event-imageContainer {
	width: 120px;
	height: 70px;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
}
.event-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.event-title {
	margin-left: 20px;
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
}