.userWidget {
	cursor: pointer;
}

.userWidget-picture {
	display: inline-block;
	width: 50px;
	border: solid 1px #2EB872;
	border-radius: 50%;
}
.userWidget-text {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #2EB872;
	margin-right: 15px;
}
.userWidget-login {
	display: block;
	background-color: rgba(46, 184, 114, .25);
	color: #2EB872;
	padding: 10px 40px;
	font-size: 20px;
	font-weight: bold;
	border: none;
	border-radius: 8px;
	text-transform: uppercase;
}