.u-bottom-10 {
	margin-bottom: 10px;
}
.u-bottom-20 {
	margin-bottom: 20px;
}
.u-bottom-30 {
	margin-bottom: 30px;
}
.u-bottom-40 {
	margin-bottom: 40px;
}
.u-bottom-50 {
	margin-bottom: 50px;
}

.u-inline-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.u-column-items {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.u-size-1-2 {
	width: 50%;
}
.u-size-1-3 {
	width: 33.3%;
}
.u-size-2-3 {
	width: 66.6%;
}
.u-size-1-4 {
	width: 33.3%;
}