.modalEventExhibitors-exhibitor {
	display: flex;
}
.modalEventExhibitors-exhibitor-imageContainer {
	position: relative;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	overflow: hidden;
}
.modalEventExhibitors-exhibitor-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.modalEventExhibitors-exhibitor-name {
	font-size: 18px;
	display: flex;
	align-items: center;
	margin-left: 20px;
	font-weight: bold;
}